# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
    ${HOME}/${YOCTO_ROOT_DIR}/${YOCTO_SRC_DIR}/meta \
    ${HOME}/${YOCTO_ROOT_DIR}/${YOCTO_SRC_DIR}/meta-poky \
    ${HOME}/${YOCTO_ROOT_DIR}/${YOCTO_SRC_DIR}/meta-openembedded/meta-oe \
    ${HOME}/${YOCTO_ROOT_DIR}/${YOCTO_SRC_DIR}/meta-openembedded/meta-multimedia \
    ${HOME}/${YOCTO_ROOT_DIR}/${YOCTO_SRC_DIR}/meta-openembedded/meta-networking \
    ${HOME}/${YOCTO_ROOT_DIR}/${YOCTO_SRC_DIR}/meta-openembedded/meta-perl \
    ${HOME}/${YOCTO_ROOT_DIR}/${YOCTO_SRC_DIR}/meta-openembedded/meta-python \
    ${HOME}/${YOCTO_ROOT_DIR}/${YOCTO_SRC_DIR}/meta-qt5 \
    ${HOME}/${YOCTO_ROOT_DIR}/${YOCTO_SRC_DIR}/meta-raspberrypi \
    ${HOME}/${YOCTO_ROOT_DIR}/${YOCTO_SRC_DIR}/meta-security \
    ${HOME}/${YOCTO_BUILD_DIR}/meta-rpi \
"
